@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 2px;
    padding: 0px;
    color: white;
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    text-align: center;
}

.view {
    max-width: 80%;

    padding-left: 10%;
    padding-right: 10%;
}

.text {
    max-width: 1920px;
    padding-left: 3%;
    padding-right: 3%;
}

.screen {
    padding: 7px;
    background-color: #333;
}